/* @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300); */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
} */
body {
	
	color: black;
	font-size:14px;
	font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  /* font-family: 'Source Sans Pro', sans-serif; */
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
  font-weight: 300;
}
.wrapper {
 /*  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); */
  background: #8a2387; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  /* top: 50%; */
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
}
.wrapper-fav{
	 position: absolute;
  /* top: 50%; */
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
	background: #f7f7f7;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 603px;
  margin: 0 auto;
  padding: 20px 0;
/*   height: 400px; */
  text-align: center;
}
.container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.form-input1 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
 /*  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2); 
    background:rgb(80,163,162);*/
    background:teal;
  width: 340px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 14px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form select{
	 /* -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; */
  outline: 0;
/*   border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2); */
  background:#E94057;
  width: 340px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300; cursor: pointer; border: 0;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form select:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  color: #53e3a6;
}
form select:focus {
  background-color: white;
  color: #000;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: teal;
  border-radius: 3px;
  width: 340px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
input {
	outline: none;
	border: none;
}
.tablebg {
	margin: 10px;
	border-width: 1px;
/* 	border-style: solid; */
	/* background: #2f4f4f4f; */ background: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{border: 1px solid #f1f1f1;}
.btn-success,
.btn-success:focus {
 /* background-color: #337ab7;
    border-color: #337ab7; */
    color: #ffffff;
    background-color: #1fc2d6;
    border-color: #1fc2d6;
}

th{background: #ddd; }
.static-btn{
    font-size: 19px;
    font-family: bolt;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 37% 0 0;
    width: 300px;
    height: 142px;
    text-align: center;
    padding-top: 54px;
    border-style: solid;
    border-width: 8px;
    border-color: #c552356e;
}
             /*Branch information css.....................*/
/* .redClass {
	background-color: blue;
}

.header-color {
	height: 50px;
	width: Auto;
	font-size: 35px;
	text-align: left;
	padding: 10px;
}

.staticformdiv {
	max-width: 600px !important;
	margin-top: 30px;
	margin-left: 380px;
	padding: 34px 0;
	border-style: solid;
	border-width: 8.5px;
	border-color: #d2cccc;
}

.formWrapper {
	margin-left: 134px;
}

.req {
	color: red;
}

.form-check-label {
	margin-bottom: 0;
}

.form-check-input {
	float: left;
	margin: 3px 7px 0 !important;
}

.form-check-label span {
	float: left;
}

table thead th {
	background-color: White;
}

th {
	background-color: white;
}

th, td {
	padding: 0.5rem;
}

td:hover {
	background-color: lightsalmon;
}

form {
	margin: 0
}

.modal {
	display: none; Hidden by default
	position: fixed; Stay in place
	z-index: 1; Sit on top
	left: 0;
	top: 0;
	width: 100%; Full width
	height: 100%; Full height
	overflow: auto; Enable scroll if needed
	background-color: rgb(0, 0, 0); Fallback color
	background-color: rgba(0, 0, 0, 0.4); Black w/ opacity
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	5% from the top, 15% from the bottom and centered
	border: 1px solid #888;
	width: 40%; Could be more or less, depending on screen size
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}
#example_wrapper {
	width: 92%;
}
#deletebtn {
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

#btn {
	width:100%;
	height: 100%;
	margin-right:0px;
}
 */